@use "../abstracts/variables";

.gallery {
  gap: 3rem;
  margin: 5rem auto;
}

.gallery__item img {
  display: block;
  max-width: 100%;
}

@media (max-width: variables.$layout-breakpoint-md) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
