@use "../abstracts/variables";

//  contact
.contact {
  line-height: 1.4rem;
  max-width: 60%;
  font-size: 1.1rem;
}

.contact__2-cols {
  margin: 5rem auto 3rem auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.contact__first-col {
  line-height: 1.6rem;
}

.list__heading--small {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

// map
.travel {
  text-align: center;
}

// travel
.travel__heading::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.09rem;
  background-color: variables.$primary-dark;
  margin: 0.5rem auto;
}

.travel__text {
  margin: 1rem auto;
}

.travel__greetings {
  font-style: italic;
}

// map
.map--b {
  margin: 5rem auto;
  text-align: center;
}
.map--sm {
  display: none;
}

// invoice contact
.invoice-row {
  margin-bottom: 8rem;
  font-size: 1rem;
}
.col--aligned {
  align-self: center;
}

@media (max-width: variables.$layout-breakpoint-md) {
  .map--b {
    display: none;
  }
  .map--sm {
    display: block;
    max-width: 80%;
    margin: 5rem auto;
    text-align: center;
  }
}
@media screen and (max-width: variables.$layout-breakpoint-footer) {
  .contact {
    max-width: 90%;
  }
}
@media screen and (max-width: variables.$layout-breakpoint-prices) {
  .contact__2-cols {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
  .contact__first-col {
    margin-bottom: 2rem;
  }
}
// @media screen and (max-width: variables.$layout-breakpoint-map) {
//   .map--sm {
//     margin: 0;
//     padding-top: 2rem;
//   }
// }
