<header class="header">
  <nav class="header__nav container">
    <ul class="nav__list">
      <li><a class="nav__link" href="/">Úvod</a></li>
      <li><a class="nav__link" href="/ubytovani/">Ubytování</a></li>
      <li><a class="nav__link" href="/galerie/">Galerie</a></li>
      <li>
        <a class="nav__link nav__logo" href="/"
          ><img class="img-logo" src="/img/logo.svg" alt=""
        /></a>
      </li>
      <li><a class="nav__link" href="/cenik/">Ceník</a></li>
      <li><a class="nav__link" href="/kontakt/">Kontakt</a></li>
      <li><a class="nav__link nav__cta" href="/rezervace/">Rezervace</a></li>
    </ul>
  </nav>
</header>
