<header class="header">
  <nav class="header__nav container">
    <ul class="nav__list">
      <li><a class="nav__link" href="#">Úvod</a></li>
      <li><a class="nav__link" href="#">Ubytování</a></li>
      <li><a class="nav__link" href="#">Galerie</a></li>
      <li>
        <a class="nav__link nav__logo" href="#"
          ><img class="img-logo" src="img/logo.svg" alt=""
        /></a>
      </li>
      <li><a class="nav__link" href="#">Ceník</a></li>
      <li><a class="nav__link" href="#">Kontakt</a></li>
      <li><a class="nav__link nav__cta" href="#">Rezervace</a></li>
    </ul>
  </nav>

  <button class="btn__mobile-nav">
    <ion-icon class="mobile-nav__icon" name="menu-outline"></ion-icon>
    <ion-icon class="mobile-nav__icon" name="close-outline"></ion-icon>
  </button>
</header>
