@use "../abstracts/variables";

.nav__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;

  margin: 1rem 3rem;

  font-size: 1.2rem;
  color: variables.$primary-dark;
  list-style-type: none;
  text-decoration: none;

  a {
    color: variables.$primary-dark;
    text-decoration: none;
  }

  a:visited {
    color: variables.$primary-dark;
  }
}

.img-logo {
  width: 1.6rem;
}

.burger div {
  width: 25px;
  height: 5px;
  background-color: variables.$primary-dark;
}

@media screen and (max-width: variables.$layout-breakpoint-cards) {
  .nav__list {
    margin: 1rem 1rem;
  }
}
