@use "../abstracts/variables";

.menu__checkbox {
  display: none;
}
.menu__toggler {
  display: none;
  cursor: pointer;
}
.logo__nav--sm {
  display: none;
}
.nav__cta--sm {
  display: none;
}
.nav__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;

  margin: 1rem 3rem;

  font-size: 1.2rem;
  color: variables.$primary-dark;
  list-style-type: none;
  text-decoration: none;

  a {
    color: variables.$primary-dark;
    text-decoration: none;
  }

  a:visited {
    color: variables.$primary-dark;
  }
}
.img-logo {
  width: 1.6rem;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}

@media screen and (max-width: variables.$layout-breakpoint-cards) {
  .nav__list {
    margin: 1rem 1rem;
  }
}

@media screen and (max-width: variables.$layout-breakpoint-nav) {
  .menu {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
  }
  .menu__toggler {
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem;
  }
  .nav__list {
    display: none;
  }
  .checkbox {
    display: block;
  }
  .menu__checkbox .nav__list {
    display: none;
  }
  .nav__item {
    margin: 1rem;
  }
  .nav__link {
    padding: 1rem;
    &:hover {
      color: variables.$gradient-light !important;
    }
  }
  .menu__logo {
    display: none;
  }
  .logo__nav--sm {
    display: inline-block;
  }
  .nav__cta {
    border: none;
    &:hover {
      background-color: #fff;
      color: variables.$gradient-light !important;
    }
  }
  .menu__checkbox:checked ~ .nav__list {
    display: block;
  }
  .menu__checkbox:checked ~ .logo__nav--sm {
    display: none;
  }
  .menu__checkbox:checked ~ .nav__cta--sm {
    display: none;
  }

  .nav__cta--sm {
    display: inline-block;
    font-size: 1.5rem;
    &:hover {
      color: variables.$primary-dark !important;
    }
    &:visited {
      color: variables.$primary-dark;
    }
  }
}
