@use "../abstracts/variables";

.nav__cta {
  border: 1px solid variables.$primary-dark;
  padding: 4px 8px;
  &:hover {
    background-color: variables.$primary-dark;
    color: #fff !important;
  }
}

.footer__cta {
  display: inline-block;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  border: 1px solid variables.$primary-dark;
}

.btn__reservation {
  display: block;
  border: 1px solid variables.$primary-dark;
  padding: 4px 8px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  &:hover {
    background-color: variables.$primary-dark;
    color: #fff !important;
  }
  &:visited {
    color: variables.$primary-dark;
  }
}

// mobile navigation
.btn__mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.mobile-nav__icon {
  font-size: 2rem;
  color: variables.$primary-dark;
}
.mobile-nav__icon[name="close-outline"] {
  display: none;
}
