@use "../abstracts/variables";

body {
  color: variables.$primary-dark;
  font-family: variables.$font-primary;
  letter-spacing: 0.05rem;
  line-height: 1.2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  letter-spacing: 0.8px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.page__heading {
  text-align: center;
  margin: 5rem auto 2rem;
}

.list__icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon--sm {
  font-size: 1rem;
}

.text--al-center {
  text-align: center;
}
.text--al-left {
  text-align: left;
}
